{% assign current_variant = product.selected_or_first_available_variant %}
{% if current_variant.featured_image != null %}
     {% assign featured_image = current_variant.featured_image | img_url: 'medium' %}
{% else %}
     {% assign featured_image = product.featured_image | img_url: 'medium' %}
{% endif %}

<div class="bg-gray-100 dark:bg-gray-800 py-8">
     <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex flex-col md:flex-row -mx-4">
               <div class="md:flex-1 px-4">
                    <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
                         <img
                              loading="lazy"
                              width="500"
                              height="500"
                              class="w-[650px] h-full object-cover "
                              src="{{ featured_image | image_url: 'large' }}"
                              alt="{{ featured_image.alt | escape }}"
                         >
                    </div>
                    {% for image in product.images %}
                         <a href="{{ image.src | img_url: 'large' }}" class="block mb-4">
                              <img
                                   loading="lazy"
                                   width="100"
                                   height="100"
                                   src="{{ image.src | img_url: 'compact' }}"
                                   alt="{{ image.alt | escape }}"
                              >
                         </a>
                    {% endfor %}
               </div>
               <div class="md:flex-1 px-4">
                    <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">{{ product.title }}</h2>
                    <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">Short description of the product</p>
                    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
                         <div class="mt-4 mr-4">
                              <label class="font-bold text-gray-700 dark:text-gray-300" for="Quantity">Select: </label>
                              <select
                                   name="id"
                                   id="productSelect"
                                   class="form-control"
                                   required=""
                              >
                                   <option selected value="" disabled="disabled">Choose an option</option>
                                   {% for variant in product.variants %}
                                        {% if variant.available %}
                                             <option value="{{ variant.id }}">
                                                  {{ variant.title }} - {{ variant.price | money_with_currency }}
                                             </option>
                                        {% else %}
                                             <option disabled="disabled">{{ variant.title }} - sold out</option>
                                        {% endif %}
                                   {% endfor %}
                              </select>
                         </div>
                         <div class="mt-4 mr-4">
                              <label class="font-bold text-gray-700 dark:text-gray-300" for="Quantity"
                                   >Quantity:
                              </label>
                              <input
                                   class="text-black dark:text-black"
                                   type="number"
                                   id="Quantity"
                                   name="quantity"
                                   value="1"
                                   min="1"
                              >
                         </div>

                         <div class="flex mb-4">
                              <div class="mt-4 mr-4">
                                   <span class="font-bold text-gray-700 dark:text-gray-300">Price:</span>
                                   <span class="text-gray-600 dark:text-gray-300">
                                        {{- current_variant.price | money -}}
                                   </span>
                              </div>
                         </div>
                         <div class="flex -mx-2 mb-4">
                              <div class="w-1/2 px-2">
                                   <button
                                        type="submit"
                                        name="add"
                                        id="AddToCart"
                                        class="w-full bg-gray-900 dark:bg-gray-600 text-white py-2 px-4 rounded-full font-bold hover:bg-gray-800 dark:hover:bg-gray-700"
                                   >
                                        Add to Cart
                                   </button>
                              </div>
                              <div class="w-1/2 px-2">
                                   <button class="w-full bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-gray-300 dark:hover:bg-gray-600">
                                        Add to Wishlist
                                   </button>
                              </div>
                         </div>
                    </form>
                    <div>
                         <span class="font-bold text-gray-700 dark:text-gray-300">Product Description:</span>
                         <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                              {{ product.description }}
                         </p>
                    </div>
               </div>
          </div>
     </div>
</div>
